pipeline/IncrementalLoad.json
{
	"name": "IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * From dbo.cfg\nwhere enabled=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DevDb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.Value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'CRM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Incremental_Full_Load,1))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Get MaxDate from cfg",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "Select Max_LastUpdatedDate From cfg\nWhere Table_Name like '@{item().Table_Name}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DevDb",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Get MaxDate from cfg",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "Select * from @{item().Table_Name}\nWhere convert(varchar(max),Last_Updated_Date,120) > \nconvert(varchar(max),substring(replace('@{activity('Get MaxDate from cfg').output.firstRow.Max_LastUpdatedDate}','T',''),0,20),120)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "STG_DB",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DevDb_SpecificTable",
												"type": "DatasetReference",
												"parameters": {
													"Table": {
														"value": "@{item().Table_Name}",
														"type": "Expression"
													},
													"Schema": "dbo"
												}
											}
										]
									},
									{
										"name": "Get MaxDate From TargetTable",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "Select max(Last_Updated_Date) as Max_LastUpdatedDate \nfrom @{item().Table_Name}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DevDb",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Update Max_LastUpdatedDate in cfg",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Get MaxDate From TargetTable",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "Update cfg set Max_LastUpdatedDate='@{activity('Get MaxDate From TargetTable').output.firstRow.Max_LastUpdatedDate}'\nWhere Table_Name like '@{item().Table_Name}' and Source like '@{item().Source}' \n\nSelect '1'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DevDb",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceDB": {
				"type": "string",
				"defaultValue": "STG"
			},
			"TargetDB": {
				"type": "string",
				"defaultValue": "DEV"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-06T05:53:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}